li {
    display: inline;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: ariel, sans-serif;
}

.button:hover {
    border: 1px solid #A5A5A5;
}
.logo {
    display: block;
    position: absolute;
    top: 30%;
    left: 38%;
    height: 92px;
    width: 272px;
}
input {
    width: 585px;
    height: 33px;
    display: block;
    margin: 25px;
    position: absolute;
    cursor: text;
    top: 45%;
    left: 20%;
}
.search {
    font-family: ariel, sans-serif;
    font-weight: bold;
    font-size: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    padding:10px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 57%;
    left: 38%;
}
.lucky {
    font-family: ariel, sans-serif;
    font-weight: bold;
    font-size: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    padding:10px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 57%;
    left: 50%;
}

.lower {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
}

li a {
    color: #666;
    font-family: ariel, sans-serif;
    font-size: 12px;
}

.upper {
    background-color: #ffffff;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
}
li  {
    color: #666;
    font-family: ariel, sans-serif;
    font-size: 12px;
}





